@import url("https://use.typekit.net/wqj0yvt.css");
/* font-family: "olivita", sans-serif;
font-weight: 400;
font-style: normal; */

*{
    margin: 0;
    padding: 0;
    font-family: "olivita", sans-serif;
    font-weight: 200;
    font-style: normal; 
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #ffffff;

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:#000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 20px;
    /* FF7BAC; */
    color: #66c866;
    text-decoration: none;
    font-weight: 700; 
}

.nav a{
    font-size: 18px;
    color: #66c866;
    font-weight: 500;
    text-decoration: none;
    float: left;
    margin: 0 6px;
}

.welcome img{
    margin-left: 15.1%;
    height: 700px;
    width: 1000px;

}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* Graphic Design */

.titleg h1{
    margin-top: 10%;
    margin-left: 35%;
    font-size: 45px;
    
}

.billboard{
   float:right;
}

.billboard h1{
    margin-right: 10%;
    margin-top: 10%;
    font-size: 35px;
    text-align: center;

}

.billboard p{
    margin-right: 10%;
    margin-top: 10%;

}

.imgb img{
    float: left;
    margin: 30px 80px;
    height: 500px;
    width: 500px;

}

.billboard p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


/*  Computer Science */
.titlec h1{
    margin-top: 10%;
    margin-left: 32.2%;
    font-size: 45px;
}

.portfolioproject{
    float:right;
    margin-right: 8%;
 }
 
 .portfolioproject h1{
     
     margin-top: 40%;
     text-align: center;
 
 }
 
 .portfolioproject p{
     margin-top: 10%;
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
 
 }



.imgp img{
    float: left;
    margin: 40px;
    height: 500px;
    width: 700px;

}

/* About Me */

.titlea h1{
    margin-top: 10%;
    margin-left: 41%;
    font-size: 45px;

}


.photo img{
    float: left;
    margin-left: 10%;
    height: 520px;
    width: 420px;

}

.aboutme{
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    
}

.aboutme p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
    
  





